
@{
    ViewBag.Title = "Add";
}

<h2>Add Species</h2>

<form method="post" action="/Species/Add">
    <div>
        Species Name:
        <input id="Name" type="text" name="Name" />
    </div>
    <div class="addSpecies_btn_div">
        <input type="submit" value="Add Species" class="addSpecies_btn"/>
    </div>
</form>

