body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.back{
    padding-right:120px;
}
.pet_details{
    padding-top:20px;
}
.petUpdate_btn{
    background-color:black;
    color:white;
    border:0px;
}
.petUpdate_btn_div{
    padding-top:20px;
}
.petUpdate_label
{
    font-weight:600;
}
.addPet_details
{
    padding-top:20px;
}
.deletePet_btn
{
    padding-right:30px;
}
.addPet_btn {
    background-color: black;
    color: white;
    border: 0px;
}
.addPet_label {
    font-weight: 600;
}
.Species_list
{
    padding-top:20px;
}
.deleteSpecies_link
{
    padding-right:20px;
}
.addSpecies_btn {
    background-color: black;
    color: white;
    border: 0px;
}
.addSpecies_btn_div
{
    padding-top:20px;
}
.s_back {
    padding-right: 120px;
}
.showSpecies_details
{
    padding-top:20px;
}
.updateSpecies_btn {
    background-color: black;
    color: white;
    border: 0px;
}
.updateSpecies_btn_div
{
    padding-top:20px;
}